@charset "utf-8";

@font-face {
 font-family: Virtual;
 src: url(/virtual.ttf);
}

html, body, main, header, footer, div, span, h1, h2, h3, h4, p, a, i, em, b, ul, li, button, input {
 margin: 0;
 padding: 0;
 outline: 0;
 border: 0;
 vertical-align: baseline;
 font-weight: inherit;
 font-style: inherit;
 font-family: inherit;
 font-size: 100%;
}

* {
 box-sizing: border-box;
}

html, body {
 font-family: Virtual, monospace;
 font-weight: normal;
 font-size: 16px;
 color: #ffffff;
 background: #000000;
 min-height: 100vh;
 cursor: default;
 -webkit-user-select: none;
 user-select: none;
}

body {
 padding: 1em;
}

footer {
 padding-top: 1em;
}

h1, h2, h3, h4, p {
 font-size: 1em;
}

h2 {
 padding-top: 2em;
}

p {
 padding-top: 1em;
}

.byline {
 padding-top: 0em;
}

.content {
 padding-top: 1em;
}

.keyboard {
 display: none;
}

a {
 color: #ffffff;
 text-decoration: none;
 transition-duration: 0.256s;
 cursor: default;
}

.a {
 color: #000000;
}

em, i {
 font-style: italic;
}

b {
 font-weight: bold;
}

.l {
 text-align: left;
}

.r {
 text-align: right;
}

.c {
 text-align: center;
}

.j {
 text-align: justify;
}

.absolute {
 position: absolute;
}

.fixed {
 position: fixed;
}

.relative {
 position: relative;
}

.sticky {
 position: sticky;
}

audio {
 display: none;
}

video {
 position: fixed;
 top: 0;
 margin-left: 50vw;
 transform: translate(-50%,-10%);
 opacity: 0.8;
 z-index: -1;
 min-width: 150vw;
}

img {
 position: fixed;
 top: 0;
 margin-left: 50vw;
 transform: translate(-50%);
 opacity: 0.8;
 z-index: -2;
}

img.small {
 min-width: 110vw;
 height: 120%;
 transform: translate(-50%,-10%);
}

img.large {
 min-width: 170vw;
 height: 180%;
 transform: translate(-50%,-20%);
}

input {
 font-size: 1em;
 color: #ffffff;
 background: #000000;
 outline: none;
 border-top: none;
 border-left: none;
 border-right: none;
 cursor: default;
}

#error {
 white-space: pre;
}

#egg {
 display: none;
 position: absolute;
 left: 0;
}

@media only screen and (min-width: 768px) {

 body {
  padding: 3em;
 }

 h1, h2, h3, h4, p {
  font-size: 1.5em;
 }

 .content {
  padding-top: 1.5em;
 }

}

@media only screen and (max-width: 768px) {

 body {
  -webkit-text-size-adjust: none;
 }

}

@media (hover: hover) {

 a:hover {
  opacity: 0.32;
 }

 .keyboard {
  display: block;
 }

}