#lit {
 line-height: 2.3em;
 margin-top: -.5em;
 margin-bottom: -.5em;
}

.lit{
 opacity: 1;
 transition-property: opacity;
 transition-duration: .512s;
}

@media only screen and (min-width: 768px) {

 #lit {
  width: 50%;
 }

}