#sun {
 display: none;
}

#moon {
 display: none;
}

.catalog {
 display: flex;
}

.numeral {
 min-width: 3em;
}

.magical {
 margin-left: auto;
}

@media only screen and (min-width: 768px) {

 .numeral {
  min-width: 4em;
 }

}