.third {
 visibility: visible;
 white-space: nowrap;
}

.first {
 visibility: hidden;
 white-space: nowrap;
}

@media only screen and (max-width: 768px) {

 .content {
  padding-top: 0em;
 }

 .lit {
  padding-top: 2em;
 }

}